$black: #343434;
$white_bg: #f5f6fa; 
$green: #b2c857;
$blue: #60a9e6;
$violet: #8f599a;

@import "mixins/transition";
@import "mixins/rotate";
@import "mixins/animation";
@import "mixins/transform";
@import "partials/menu.scss";
@import "partials/ribbon.scss";
@import "partials/last_works.scss";
@import "partials/principles.scss";
@import "partials/clients.scss";
@import "partials/media";

body {
	color: $black;
	overflow-x: hidden;
	position: relative;
}
body, html, div,svg {
	padding: 0;
	margin: 0;
}
a:focus {
	outline: none;
}
.wrap {
	max-width: 1200px;
	margin: auto;
}
/*---------------
	   FONTS
----------------*/
@font-face {
    font-family: Lato-Light;
    src: url(../fonts/Lato-Light.ttf) format ('truetype');
}
@font-face {
    font-family: Lato-Medium;
    src: url(../fonts/Lato-Medium.ttf);
}
@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: Lato-Regular;
    src: url(../fonts/Lato-Regular.ttf);
}
/*------------
	CAROUSEl
-------------*/
.item {
	z-index: 20;
	transition: all 0.6s ease-in-out !important;
}
.item1,
.item2,
.item3 {
	width: 100%;
	position: relative;
}
.right_carousel_control,
.left_carousel_control {
	background-image: none !important;
	font-size: 40px;
	color: #959595 !important;
	top: 300px;
	z-index: 80;
	height: 60px;
	&:hover,
	&:active {
		color: $black;
	}
}
.carousel-indicators {
	position: absolute;
	left: 45%;	
	right: 0;
	margin-left: 0;
	top: 630px;
	height: 40px;
	z-index: 25;
	width: 100px;
	li {
		background-color: #d3d3d3;
		border: 1px solid #d3d3d3;
		margin-right: 15px;
		width: 11px;
		height: 11px;
	}
	.active	{
		background-color: $black;
		border: 1px solid $black;
		margin-right: 15px;
		width: 11px;
		height: 11px;
	}
}
/*-------------
	SCREEN1
--------------*/
.screen1 {
	color: $black;
	width: 100%;
	padding-top: 90px;
}
.screen1_title {
	font-size: 100px;
	font-family: Lato-Bold;
	text-align: center;
	margin-bottom: 0px;
}
.screen1_descr {
	text-align: center;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	z-index: 3;
	margin-bottom: 155px;
	position: relative;
	bottom: 15px;	
}
.screen1_logos {
	width: 470px;
	display: table;
	margin: auto;
}
.screen1_studio_logo {
	float: left;
}
.screen1_agency_logo {
	float: right;
}
/*---------------
	SCREEN2
----------------*/
.screen2 {
	height: 550px;
	width: 100%;
	padding: 35px 0px 50px 0px;
	text-align: center;
	color: #fff;
	position: relative;
	overflow: hidden;
	.background {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		transform: translate3d(0,0,0) scale(1) no-repeat center center;
	    background-size: cover;
	}
}
.screen2_logo {
	margin-bottom: 40px;
}
.screen2_title {
	font-size: 90px;
	font-family: Lato-Bold;
	margin-bottom: 40px;
	text-transform: uppercase;
	line-height: 96px;
	p {
		text-align: center;
	}
}
.screen2_text {
	font-size: 18px;
    font-family: Lato-Regular;
}
/*--------------------
	OUR ADVANTAGES
---------------------*/
.one_adv {
	float: left;
	margin-right: 50px;
}
.one_adv_img_block {
	display: table;
	margin: auto;
	height: 220px;
}
.one_adv_title {
	text-transform: uppercase;
	font-size: 36px;
	text-align: center;
	margin-bottom: 65px;
	font-family: Lato-Bold;
}
.one_adv_features {
	font-size: 24px;
	font-family: Lato-Regular;
}
.adv_title {
	@extend .princ_title;
}
.advantages {
	padding: 100px 0 150px 0;
	background: $white_bg;
	ul {
		list-style-type: none;		
	    padding: 0;
	    margin: 0;
	}
	li {
		margin-bottom: 5px;
	}
}
.advantages .one_adv {
	&:nth-child(2) {
		li {
			&:before {
				content: url(../img/li_circle_1.png);
				margin-right: 20px;
			}
		}
	}
	&:nth-child(3) {
		li {
			&:before {
				content: url(../img/li_circle_2.png);
				margin-right: 20px;
			}
		}
	}
	&:nth-child(4) {
		li {
			&:before {
				content: url(../img/li_circle_3.png);
				margin-right: 20px;
			}
		}
	}
}
/*-------------
	CONTACTS
--------------*/
.contacts {
	clear: both;
	@extend .visit;
	background: $black;
	color: #fff;
	padding: 70px 0 100px 0;
	p {
		margin-bottom: 0;
	}
	.visit_right {
		width: 450px;
	}
}
.contacts_top {
	margin-bottom: 40px;
}
/*-----------------
		FORM
-----------------*/
form {
	color: $black;
	display: table;
	margin: auto;
	padding: 60px 0 60px 0;
	button {
		display: table;
		margin: auto;
		width: 260px;
		height: 70px;
		border-radius: 2px;
		background: $black;
		color: #fff;
		text-transform: uppercase;
		font-family: Lato-Regular;
		font-size: 24px;
		outline: none;
		border: none;
		position: relative;
		overflow: visible;
		padding-left: 33px;
		&:hover {
			&> .fa {
				left: 32px;
			}
		}
	}
	.fa {
		position: absolute;
		left: -90px;
		font-size: 30px;
		@include transition(left, 0.4s, ease-out, 0s);

	}
}
label {
	display: block;
	font-size: 24px;
	.input_descrip {
		float: left;
		width: 160px;
		font-family: Lato-Regular;
		text-transform: uppercase;
		font-weight: normal;
	}
	.star {
		position: relative;
		bottom: 2px;
		left: 6px;
	}
	input {
		width: 675px;
		height: 60px;
		border: 1px solid $black;
		border-radius: 2px;
		padding-left: 20px;
		margin-bottom: 30px;
		outline: none;
		font-family: Lato-Regular;
		font-weight: normal;
	}
	input[placeholder] {
		color: red !important;
	}
	textarea {
		width: 675px;
		height: 230px;
		border: 1px solid $black;
		border-radius: 2px;
		padding-left: 20px;
		margin-bottom: 60px;
		outline: none;
		font-family: Lato-Regular;
		font-weight: normal;
	}
}
/*------------------
		FOOTER
------------------*/
footer {
	font-size: 14px;
	font-family: Lato-Regular;
	color: #fff;
	text-align: center;
	border-top: 2px solid #858585;
	background: #b7da54;
	padding: 10px 0 10px 0;
	p {
		display: table;
		margin: auto;
		margin-bottom: 0;
	}
	a,
	a:hover,
	a:active {
		color: #fff !important;
		text-decoration: none;
	}
}




